body {
  margin-left: 40px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  font-size:70px;
  margin-bottom: -15px;
  color:tomato
}
.date{
  color:lightgray
}
.navbar  a:link{
  list-style-type: none;
  margin-right: 30px;
  color:lightgray;
}

.footerLinks {
  margin-left: -40px;
}

.footerLinks a:link{
  margin-right: 30px;
  color:tomato;
  text-decoration: none;
}

.trademark{
  margin-left:40px;
  margin-top:-5px;
  color:lightgray
}
article p::first-letter{
  font-size: 90px;
  margin-right:20px;
  color:darkgray;
}
article p{
  margin-bottom:40px;
  color:lightgray
}

.continue{
  color:tomato;
  text-decoration: none;
  font-size:25px;
  text-align: end;
}